.container {
    height:100%;
    
    .parallax {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        background-size:cover;
        height:100%;
        box-shadow: inset 0 0 20px $black;
        justify-content: center;
    }

    .text {
        padding:0 50px;
    }

    &.flex {
        display:flex;
        align-items:center;
        
        .fullWidth {
            flex:1;
            justify-content: center;
            flex-direction: column;
        }

        .quarter {
            display: flex;
            flex-direction: column;
            &.text {
                width:calc(35% - 100px);
            }
            &.image {
                width:35%;
            }
        }

        .half {
            display: flex;
            flex-direction: column;
            width:50%;
            &.text {
                width:calc(50% - 100px);

                div {
                    float:left;
                }
            }
        }

        .three-quarter {
            display: flex;
            flex-direction: column;
            &.text {
                width:calc(65% - 100px);
            }
            &.image {
                width:65%
            }
        }

    }
}