// media queries
// desktop
@mixin desktop {
    @media only screen and (max-width:#{$desktop-width}) {
        @content;
    }
}

// tablet
@mixin tablet {
    @media only screen and (max-device-width:#{$tablet-width}) {
        @content;
    }
}

//mobile - landscape
@mixin mobile-landscape {
    @media only screen and (max-device-width:#{$mobile-landscape-width}) and (orientation: landscape) {
        @content;
    }
}

// mobile - portrait
@mixin mobile-portrait {
    @media only screen and (max-device-width:#{$mobile-portrait-width}) {
        @content;
    }
}

// animations & keyfranes
@mixin transform($str) {
    -webkit-transform: #{$str};
    -moz-transform: #{$str};
    -ms-transform: #{$str};
    -o-transform: #{$str};
    transform: #{$str};      
}

@mixin animate {
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

// cro-bro opacity
@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}

// gradient titles

@mixin gradient($color) {
    @if $color=="red" {
        background: linear-gradient(to right, #{$red} 0%, #{$orange} 25%);
    }
    @if $color=="orange" {
        background: linear-gradient(to right, #{$orange} 0%, #{$yellow} 20%);
    }
    @if $color=="yellow" {
        background: linear-gradient(to right, #{$yellow} 0%, #{$green} 45%);
    }
    @if $color=="green" {
        background: linear-gradient(to right, #{$green} 0%, #{$blue} 30%);
    }
    @if $color=="blue" {
        background: linear-gradient(to right, #{$blue} 0%, #{$purple} 40%);
    }
    @if $color=="purple" {
        background: linear-gradient(to right, #{$purple} 0%, #{$white} 70%);
    }
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}