// colors
$red: #DA4A4A;
$orange: #ED9E3A;
$yellow: #E8C61C;
$green: #B0CF4F;
$blue: #6EC7C2;
$white: #FBFBFB;
$gray-1: #E8E8E8;
$gray-2: #D4D4D4;
$gray-3: #B4B4B4;
$gray-4: #898989;
$black: #474747;

// font sizes
$body-size: 18px;
$h1-size: 72px;
$h2-size: 55px;
$h3-size: 45px;
$h4-size: 36px;

// font family
$body-font: 'Heebo', Arial, sans-serif;

// Screen sizes
$desktop-width:1024px;
$tablet-width:768px;
$mobile-landscape-width:812px;
$mobile-portrait-width:420px;
